html {
    font-size: 16px;
    text-align: center;
}

nav ul {
    background-color: black;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    list-style-type: none;
}

#desktop {
    display: flex;
    justify-content: right;
    align-items: center;
}

#desktop li {
    list-style-type: none;
    background-color: blue;
}

#desktop li a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 2rem;
}

#desktop li a:hover {
    background-color: lightblue;
}

#mobile {
    display: none;
    content: "";
    margin-top: auto;
    margin-bottom: auto;
    width: 14px;
    height: 0;
    box-shadow: 0 10px 0 1px #69737d, 0 16px 0 1px #69737d, 0 22px 0 1px #69737d;
}

@media only screen and (max-width: 768px) {
    #mobile {
        display: block;
    }

    #desktop {
        display: none;
    }
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url('../img/header-background.jpg');
    background-size: 50%;
    background-position: center;
    height: 31.25rem;
}

header .content {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    width: 100%;
}

#tesla {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url('../img/tesla-fans.jpg');
    background-size: 50%;
    background-position: center;
    height: 31.25rem;
}

#tesla .content {
    background-color: #E82127F0;
    color: white;
    width: 100%;
}

#spacex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url('../img/spacex.jpg');
    background-size: 50%;
    background-position: center;
    height: 31.25rem;
}

#spacex .content {
    background-color: #A7A9ACF0;
    color: white;
    width: 100%;
}

#boring-company {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url('../img/the-boring-company.jpg');
    background-size: 50%;
    background-position: center;
    height: 31.25rem;
}

#boring-company .content {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    width: 100%;
}

#about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url('../img/ephraim-becker.jpg');
    background-size: 50%;
    background-position: center;
    height: 31.25rem;
}