html {
    font-size: 16px;
    text-align: center;
}

nav ul {
    background-color: black;
    padding: 1rem;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    list-style-type: none;
}

#desktop {
    display: flex;
    justify-content: right;
    align-content: center;
}

#desktop li {
    list-style-type: none;
    padding-right: 1rem;
    background-color: blue;
}

#desktop li a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 2rem;
}

#desktop li a:hover {
    background-color: lightblue;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url('../img/header-background.jpg');
    background-size: 50%;
    background-position: center;
    height: 31.25rem;
}

header .content {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    width: 100%;
}

#tesla {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url('../img/tesla-fans.jpg');
    background-size: 50%;
    background-position: center;
    height: 31.25rem;
}

#tesla .content {
    background-color: #E82127F0;
    color: white;
    width: 100%;
}

#spacex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url('../img/spacex.jpg');
    background-size: 50%;
    background-position: center;
    height: 31.25rem;
}

#spacex .content {
    background-color: #A7A9ACF0;
    color: white;
    width: 100%;
}

#boring-company {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url('../img/the-boring-company.jpg');
    background-size: 50%;
    background-position: center;
    height: 31.25rem;
}

#boring-company .content {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    width: 100%;
}